.start {
  border: 3px solid #FF66C4;
  display: flex;
  margin-top: 2%;
  justify-content: center;
  height: 90%;
  width: 80%;
  padding: 1.5em;
  border-radius: 25px;
}

.start h1 {
  font-size: 3.5em;
}

.start p {
  margin-bottom: 2em;
  color: #f8f8ff;
}

.start-square {
  height: 90%;
  width: 70%;
  border-radius: 15px;
}

.start img {
  width: 40%;
}

@media screen and (max-width: 768px) {
 .start{
   margin-top: 50%;
   margin-top: 30%;
 }

 .start h1 {
  font-size: 1.5em;
}

 .start img {
   width: 80%;
 }

 .start-square {
  height: 100%;
}

}